/* Лейаут */
* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font: 400 16px/1.42 'OpenSans', sans-serif;
  background-color: #001821;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

ol, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
}

address {
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  padding-bottom: 40px;
  color: #fff;
  background: 
    url('../images/top-pic.jpg') center top no-repeat, 
    url('../images/bottom-pic.jpg') center bottom no-repeat;
}

.main--inner {
  padding: 0;
  color: #1a1b1e;
  background: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.section:not(.section--inner) + .section {
  margin-top: 150px;
}

.section--inner {
  padding: 100px 0;
}

.section--inner:nth-of-type(even) {
  background-color: #fff;
}

.section--inner:nth-of-type(odd) {
  background-color: #f4f5f5;
}

.logo {
  width: 98px;
  height: 42px;
}

.logo--wide {
  width: 280px;
  height: 120px;
}

.phone {
  font-size: 26px;
  line-height: 1.3;
}

.phone__info {
  font-size: 11px;
  color: #9a9a9a;
}

.title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
}

.title--subtitle {
  font-size: 18px;
  font-weight: 400;
}

.title--section {
  margin-bottom: 50px;
  font-size: 36px;
}

.title--inner {
  font-size: 48px;
}

.title--block {
  font-size: 24px;
}

.title--hot {
  position: relative;
  display: inline-block;
}

.title--hot:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  display: block;
  width: 21px;
  height: 28px;
  background: url('../images/icons/flame.png');
  transform: translate(100%, -50%);
}

.link {
  color: #fff;
  transition: color .25s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: #f5170e;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #f5170e;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #da0100;
}

.button--transparent {
  color: #f5170e;
  border-color: #f5170e;
  background-color: transparent;
}

.button--transparent:hover {
  color: #fff;
  background-color: #f5170e;
}

.button--wide {
  padding: 20px 60px;
}





/* Шапка сайта */
.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__contacts {
  margin-left: auto;
  text-align: right;
}





/* Навигация */
.nav {
  font-size: 14px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item--active .link {
  color: #f5170e;
}

.nav__item--active {
  pointer-events: none;
}

.nav__link {
  padding: 15px 28px;
}





/* График работы */
.schedule {
  line-height: 1;
}

.schedule:hover .schedule__name {
  opacity: 1;

}
.schedule__name {
  display: inline-block;
  font-size: 13px;
  border-bottom: 1px solid #fff;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
  opacity: .6;
}

.schedule__info {
  display: none;
}





/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
}

.breadcrumbs__item:not(:last-of-type):after {
  content: '/';
  display: block;
  margin: 0 5px;
  opacity: .4;
}

.breadcrumbs__item--active {
  pointer-events: none;
}

.breadcrumbs__link {
  opacity: .4;
  border-bottom: 1px solid #fff;
  transition: opacity .25s ease-in-out;
}

.breadcrumbs__link:hover {
  opacity: 1;
}





/* Секция hero */
.hero {
  height: 100vh;
  min-height: 568px;
  color: #fff;
}

.hero--inner {
  height: 410px;
  min-height: unset;
  background: url('../images/inner-pic.jpg') right top no-repeat;
  background-attachment: fixed;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  max-width: 530px;
  margin: auto 0;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__button {
  margin-top: 30px;
}

.hero__breadcrumbs {
  margin-bottom: 25px;
}





/* Секция туров */
.tours__list {
  display: flex;
  justify-content: space-between;
}

.tours__item {
  width: calc(100% / 3 - 30px / 3);
}





/* Карточка тура */
.trip {
  height: 100%;
  border-radius: 6px;
  color: #1a1b1e;
  background-color: #fff;
  overflow: hidden;
}

.trip:hover .trip__image {
  opacity: 1;
  transform: scale3d(1.015, 1.015, 1.015);
}

.trip__bg {
  width: 100%;
  height: 140px;
  background-color: #303030;
}

.trip__image {
  width: 100%;
  height: 100%;
  opacity: .5;
  object-fit: cover;
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}

.trip__info {
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
  padding: 30px 20px;
}

.trip__name {
  margin-bottom: 20px;
}

.trip__features {
  margin-bottom: 30px;
}

.trip__description:last-of-type {
  margin-bottom: 25px;
}

.trip__button {
  margin-top: auto;
}





/* Инфо о турах */
.features {
  display: flex;
  align-items: center;
}

.features__item {
  display: flex;
  align-items: center;
}

.features__item:not(:last-of-type) {
  margin-right: 30px;
}

.features__icon {
  margin-right: 8px;
}

.features__text {
  color: #666;
}





/* Секция новостей */
.events__list {
  display: flex;
  justify-content: space-between;
}

.events__item {
  width: calc(50% - 15px);
  height: 390px;
}

.events__pagination {
  margin-top: 50px;
}





/* Карточка новости */
.event {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 6px;
  background-color: #1a1b1e;
  overflow: hidden;
}

.event:hover .event__bg {
  opacity: 1;
  transform: scale3d(1.015, 1.015, 1.015);
}

.event__bg {
  width: 100%;
  height: 100%;
  opacity: .7;
  object-fit: cover;
  will-change: transform;
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}

.event__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 170px;
  padding: 25px 30px;
}

.event__date {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.event__description {
  margin-top: 10px;
}





/* Пагинация */
.pagination {
  justify-content: center;
  color: #fff;
}

.pagination--dark {
  color: #1a1b1e;
}

.pagination--dark .pagination__item--active .pagination__link {
  color: #fff;
  background-color: #f5170e;
  pointer-events: none;
}

.pagination,
.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__info {
  margin-right: 25px;
}

.pagination__item--active .pagination__link {
  color: #f5170e;
  background-color: #fff;
  pointer-events: none;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.pagination__link:hover {
  color: #f5170e;
}





/* Секция о нас */
.about {
  color: #1a1b1e;
}

.about__container {
  position: relative;
  padding-top: 100px;
}

.about__picture,
.about__block {
  border-radius: 6px;
}

.about__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(5 / 12 * 100%);
}

.about__block {
  position: relative;
  width: calc(8 / 12 * 100%);
  margin-left: auto;
  padding: 80px 105px;
  background: url('../images/mountains.jpg') 35% 30% no-repeat #fff;
  overflow: hidden;
}

.about__title {
  color: #000;
}

.about__button {
  margin-top: 50px;
}





/* Секция услуг */
.services__item + .services__item {
  margin-top: 50px;
}

.services__pagination {
  margin-top: 60px;
}





/* Блок услуги */
.service {
  display: flex;
}

.service:hover .service__image {
  transform: scale3d(1.015, 1.015, 1.015);
}

.service__picture {
  width: 460px;
  height: 330px;
  border-radius: 6px;
  overflow: hidden;
}

.service__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s ease-in-out;
}

.service__info {
  flex: 1;
  padding: 25px 25px 25px 60px;
}

.service__title {
  margin-bottom: 30px;
}

.service__description {
  line-height: 1.68;
}

.service__button {
  margin-top: 30px;
}





/* Секция партнеров */
.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.partners__list:hover .partners__image {
  filter: grayscale(1);
}

.partners__item {
  padding: 25px;
}

.partners__item:hover .partners__image {
  filter: grayscale(0);
}

.partners__image {
  transition: filter .25s ease-in-out;
}





/* Подвал */
.footer__container {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #1a3038;
}

.footer__logo {
  margin-right: 40px;
}

.footer__social {
  margin: 0 70px 0 auto;
}

.footer__contacts {
  text-align: right;
}





/* Социальные сети */
.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-of-type) {
  margin-right: 10px;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  opacity: .2;
  transition: opacity .25s ease-in-out;
}

.social__link:hover {
  opacity: 1;
}





/* Страница приветствия */
.welcome {
  height: 100vh;
  background: url('../images/welcome-bg.jpg') 50% 50%/cover no-repeat;
}

.welcome__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.welcome__content > * {
  position: relative;
  z-index: 1;
}

.welcome__content:after {
  content: url('../images/shades.png');
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.welcome__title {
  margin-top: 8px;
  color: #fff;
  text-align: center;
}

.welcome__button {
  align-self: center;
  margin-top: 50px;
}