/* Лейаут */
* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font: 400 16px/1.42 'OpenSans', sans-serif;
  background-color: #001821;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

ol, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 1230px;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  padding-bottom: 40px;
  color: #fff;
  background: 
    url('../../images/top-pic.jpg') center top no-repeat, 
    url('../../images/bottom-pic.jpg') center bottom no-repeat;
}

.main--inner {
  padding: 0;
  color: #1a1b1e;
  background: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.section:not(.section--inner) + .section {
  margin-top: 150px;
}

.section--inner {
  padding: 100px 0;
}

.section--inner:nth-of-type(even) {
  background-color: #fff;
}

.section--inner:nth-of-type(odd) {
  background-color: #f4f5f5;
}