/* Кнопки */
.button {
  display: inline-block;
  padding: 20px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #f5170e;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #da0100;
}

.button--transparent {
  color: #f5170e;
  border-color: #f5170e;
  background-color: transparent;
}

.button--transparent:hover {
  color: #fff;
  background-color: #f5170e;
}

.button--wide {
  padding: 20px 60px;
}